

**/__pycache__
*.pyc

*.log

*.swp
*.swo

**/migrations
.scrapy
environ.yaml

*.db

*.tgz
*.zip
*.gz
*node_modules
config.json

*result.json
*Result.json
*Old.js
*Bkp.js
*BKP.js
*/testPiece.js
*screenshots/
*venv


**/.DS_Store
.vscode

*proxy_cookies

backend/media/
backend/static/
